[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
sh = "*"
yapf = "*"
pyOpenSSL = "*"
PyYAML = "*"
pep8-naming = "*"

[packages]
appnope = "*"
asn1crypto = "*"
beautifulsoup4 = "*"
cffi = "*"
click = "*"
cryptography = "*"
decorator = "*"
idna = "*"
ipdb = "*"
ipython = "*"
lxml = "*"
numpy = "*"
pandas = "*"
pandas-datareader = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycparser = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
requests-cache = "*"
requests-file = "*"
requests-ftp = "*"
selenium = "*"
sh = "*"
simplegeneric = "*"
six = "*"
traitlets = "*"
wcwidth = "*"
yapf = "*"
DateTime = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
pyOpenSSL = "*"
PyYAML = "*"
"zope.interface" = "*"
tdameritrade = "*"
chromedriver = "*"
structlog = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
